body {
    font-size: 1rem;
}

nav {
    font-size: 1.5rem;
}

h1 {
    font-size: 4rem;
}

article * {
    width: 80vw;
}

blockquote {
    position: static;
    padding: 0.5rem 0;
    font-size: 1.2rem;
}

blockquote:last-of-type {
    display: none;
}

table {
    padding: 0.5rem;
}